@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    margin: 0px;
    padding: 20px;
}

body .content {
    float: left;
    max-width: 400px;
    line-height: 180%;
    font-family: "Fira Sans", sans-serif;
    text-align: justify;
    padding: 20pt;
}
    
body .content a {
    color: #c21414;
    text-decoration: none;
    border-bottom: 1pt solid #e0b90b;
}

h1 {
    font-size: 15pt;
    margin-bottom: 10pt;
}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 35px;
    padding: 0px;
    text-align: justify;
}

.all {
    margin: 40px;
}

.container {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.checkbox {
    background-color: transparent;
}

/*DARKMODE*/
#toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 32px;
    width: 65px;
    background-color: #15181f;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    align-items: right;
}

#toggle:after {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

.dark-theme {
    background-color: #15181f;
    color: #e5e5e5;
}

.dark-theme #toggle {
    background-color: #ffffff;
}

.dark-theme #toggle:after {
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}
