@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    margin: 0px;
    padding: 20px;
}

.all {
    align-items: center;
    justify-content: center;
    margin: 40px;
}

body .content {
    
    width: 300px;
    font-family: "Fira Sans", sans-serif;
    padding: 10px;
    
}
    
body .content a {

    text-decoration: none;
    color: rgb(196, 141, 141);
    line-height: 25px;
    padding: 20px;
    
}

h1 {
    font-size: 15pt;
    margin-bottom: 10pt;
}

p {
    font-family: "Fira Sans", sans-serif;
    line-height: 25px;
    padding: 20px;
    text-align: left;
}

.container {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.checkbox {
    background-color: transparent;
}

button {
    border: none;
    outline: 0;
    
    padding: 8px;
    color: white;
    background-color: #141414;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
    font-family: "Fira Sans", sans-serif;
}

button:hover,
a:hover {
    opacity: 0.7;
}

/*DARKMODE*/
#toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 32px;
    width: 65px;
    background-color: #15181f;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    align-items: right;
}

#toggle:after {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

.dark-theme {
    background-color: #15181f;
    color: #e5e5e5;
}

.dark-theme #toggle {
    background-color: #918e8e;
}

.dark-theme #toggle:after {
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}

#snackbar {
    visibility: hidden;
    max-width: 250px;
    margin-left: -125px;
    background-color: #581845;
    color: #fff;
    text-align: left;
    border-radius: 1px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 10px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa:hover {
    opacity: 0.2;
}

